<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-template="Sistema Mottu - %s">Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Sistema Mottu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" th:href="@{/logout}">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-4" layout:fragment="content">
    </div>

<footer class="bg-dark text-white text-center py-3 mt-4">
    <div class="container">
        <p>&copy; 2024 Gerenciamento de Motos - Sprint 3</p>
    </div>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>